
    <footer
      class="footer-container text-center text-white"
      style="background-color: #5c635f"
    >

      <div class="footer-content">
        <section class="mt-5">
          <div class="row text-center d-flex justify-content-center pt-3">
            
            <div class="col-md-2-footer">
              <h6 class="text-uppercase font-weight-bold">
                <a
                  href="{% url 'philo_group:about' %}"
                  class="text-white">About
                </a>
              </h6>
            </div>

            <div class="col-md-2-footer">
              <h6 class="text-uppercase font-weight-bold">
                <a
                  href="{% url 'philo_group:sessions' %}"
                  class="text-white"> sessions
                </a>
              </h6>
            </div>

            <div class="col-md-2-footer">
              <h6 class="text-uppercase font-weight-bold">
                <a
                  href="{% url 'philo_group:about' %}#location"
                  class="text-white">Location
                </a>
              </h6>
            </div>

            <div class="col-md-2-footer">
              <h6 class="text-uppercase font-weight-bold">
                <a
                href="{% url 'philo_group:about' %}#contact"
                class="text-white">Contact
                </a>
              </h6>
            </div>

            <div class="col-md-2-footer">
              <h6 class="text-uppercase font-weight-bold">
                <a
                href="{% url 'philo_group:faq' %}"
                class="text-white">FAQs
                </a>
              </h6>
            </div>
            
          </div>
        </section>

        <hr class="my-3" />
      
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
           <img src="/static/images/philo-logo-cropped.png" width="30" height="30" alt="">
        Philosophy Group
      </div>

    </div>
    
  </footer>
  <br>
